* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: #000;
    text-transform: capitalize;
}

body {
    background: #f4f4f4;
    overflow-x: hidden;
}


/* Header */

.header-nav-wrapper {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #5680E9;
}

.header-nav-wrapper * {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-nav-wrapper .container {
    width: 1200px;
}

.header-nav-left .logo span {
    font-size: 3rem;
    font-weight: bold;
    padding: 0 10px;
    color: #fff;
}

.header-nav-right a:hover,
.header-nav-right a:focus,
.header-nav-right a:hover span,
.header-nav-right a:focus span {
    color: #000;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s linear;
}

.header-nav-right .myaccount,
.header-nav-right .header-cart {
    height: 50px;
}

.header-nav-right span,
.header-nav-right path {
    color: #fff;
}

.header-nav-right svg {
    margin: 0 10px;
}

.header-nav-right .myaccount .dropdown-toggle span.caret {
    margin: 0 10px;
}

.header-nav-right .myaccount .dropdown-menu {
    width: 180px;
    transition: all 0.2s linear;
}

.header-nav-right .myaccount .dropdown-menu a {
    width: 100%;
}

.header-nav-right .myaccount .dropdown-menu a:focus,
.header-nav-right .myaccount .dropdown-menu a:hover {
    color: #5680E9;
}

.header-nav-right .header-cart #cart #cart-total {
    margin: 0 5px;
}


/* Main Menu */

.content-header {
    position: sticky;
    top: 0;
    left: 0;
    background: #f4f4f4;
}

.content-header #main-menu * {
    font-size: 1.7rem;
    font-weight: 550;
    color: #000;
}

.content-header .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-header #main-menu .nav.navbar-nav {
    margin: 0 auto;
}

.content-header #main-menu .nav.navbar-nav li:focus,
.content-header #main-menu .nav.navbar-nav li:hover,
.content-header #main-menu .nav.navbar-nav a:focus,
.content-header #main-menu .nav.navbar-nav a:hover {
    transition: all 0.2s linear;
    color: #5680E9;
    text-decoration: none;
    outline: none;
}


/* End Of Main Menu */


/* End Of Header */


/* Category */

.common-home {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1.2rem;
}

.common-home .container{
    overflow: scroll;
}

.content {
    position: relative;
    top: 20px;
    left: 0;
}

.content>.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column-left {
    position: relative;
    top: 0;
    left: 0;
    width: 20%;
    padding: 0;
    background: #f4f4f4;
}

.column-left .category {
    margin: 0;
    padding: 0;
}

.column-left .category .category-heading {
    padding: 2rem 1.5rem;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background: #5680E9;
}

.column-left .category .category-heading span {
    padding: 0 1.3rem;
    color: #fff;
}

.column-left .category .category-content li {
    list-style: none;
}

.column-left .category .category-content .dropdown>a {
    text-decoration: none;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.25s ease;
}

.column-left .category .category-content .dropdown>a:hover {
    background: #ddd;
}

.column-left .category .category-content .dropdown>a:hover label {
    color: #5680E9;
}

.column-left .category .category-content .dropdown>a>label {
    font-size: 1.9rem;
    font-weight: lighter;
    transition: all 0.25s ease;
}

.column-left .category .category-content .dropdown>a>span.glyphicon {
    font-size: 1rem;
    font-weight: lighter;
}


/* End Of Category */


/* Banner */

.carousel-control span {
    color: #fff !important;
}

.carousel-control {
    visibility: hidden;
}

.carousel:hover .carousel-control {
    visibility: visible;
}


/* End Of Banner */


/* Products */

.product-tab {
    margin: 20px 0 30px;
    padding: 10px;
}

.product-tab .title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-tab .title-wrapper .box-heading>h3 {
    font-size: 2.3rem;
    font-weight: bold;
    margin: 0;
    padding: 1.2rem 1.4rem;
    text-transform: uppercase;
}

.product-tab .title-wrapper .controls.clickable>.controls-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-tab .title-wrapper .controls.clickable>.controls-btn>a {
    margin: 0 1.2rem;
    padding: 1rem 1.2rem;
    background: rgba(0, 0, 0, .1);
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.product-tab .title-wrapper .controls.clickable>.controls-btn>a svg {
    font-size: 1.5rem;
    font-weight: lighter;
}

.product-tab .tab-content {
    margin: 1rem 0;
    padding: 0;
}

.product-tab .tab-content>div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

.product-tab .tab-content .product-item {
    position: relative;
    top: 0;
    left: 0;
    padding: 5px;
    background: #f4f4f4;
    overflow: hidden;
}

.product-tab .tab-content .product-item:hover {
    opacity: .5;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .5);
}

.product-tab .tab-content .product-item .img-product {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-product img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.product-tab .tab-content .product-item .img-product img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.product-tab .tab-content .product-item .details-product {
    text-align: center;
}

.product-tab .tab-content .product-item .details-product h4 {
    font-size: 2rem;
    font-weight: bolder;
    text-transform: capitalize;
}

.product-tab .tab-content .product-item .details-product h5 {
    font-size: 1.8rem;
}

.product-tab .tab-content .product-item .button-group {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(100%) rotateX(90deg);
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    opacity: 0;
    transition: all 0.3s linear;
}

.product-tab .tab-content .product-item .button-group button {
    display: block;
    padding: 8px;
    background: none;
    border: none;
    outline: none;
}

.product-tab .tab-content .product-item .button-group svg {
    font-size: 2rem;
}

.product-tab .tab-content .product-item:hover .button-group {
    transform: translateX(0);
    opacity: 1;
}


/* End Of Products */


/* Footer */

.footer {
    padding: 0 10px;
    background: #000;
}

.footer * {
    font-size: 1.6rem;
    color: #fff;
    list-style: none;
}

.footer .row {
    border-bottom: 1px solid rgba(255, 255, 255, .4);
}

.footer h3 {
    font-size: 2.2rem;
    font-weight: bolder;
    text-align: left;
    text-transform: capitalize;
    letter-spacing: 2px;
    word-spacing: 4px;
}

.footer .row>div {
    margin: 0;
    padding: 10px 2rem;
    border-right: 1px solid rgba(255, 255, 255, .4);
}

.footer .row .about p {
    margin: 0 0 40px;
    text-transform: none;
    opacity: .7;
}

.footer .row .about li {
    padding: 1rem 1.5rem;
    display: inline-block;
}

.footer .row .about li:hover svg {
    cursor: pointer;
    transition: all 0.3s linear;
    transform: scale(1.4);
}

.footer .row .contact {
    padding-left: 40px;
}

.footer .row .contact li {
    opacity: .7;
    margin: 15px 0;
}

.footer .row .contact li svg {
    margin: 0 1.2rem;
}

.footer .row .contact,
.footer .row .info,
.footer .row .my-account,
.footer .row .extras {
    border-right: none;
}

.footer .row .info li,
.footer .row .my-account li,
.footer .row .extras li {
    opacity: .7;
    margin: 10px 0;
}


/* End Of Footer */

div.form {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 35%;
    padding: 1rem 1.5rem;
    margin: 1.5rem 0;
    border: 1px solid #000;
}

div.form h3 {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    padding: 0.2rem 2rem;
}

.showForm {
    display: block !important;
}

div.form .form-group .control-label {
    font-size: 1.6rem;
    font-weight: normal;
    text-align: center;
}

.btn.btn-primary {
    font-size: 1.7rem;
}

/* animation alert */

#alert-mess {
    position: absolute;
    right: 0;
    top: 100px;
    transition: all 0.7s;
    background: #4de93f;
    padding: 10px;
    color: #f1f1f1;
}

.hideMess {
    transform: translateX(401px);
    
}

.showMess {
    transform: translateX(0);
}